# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
OsTravail2/.vs/OsTravail2/v15/ipch/AutoPCH/67cce004afae67e8/MAIN.ipch
OsTravail2/.vs/OsTravail2/v15/Browse.VC.opendb
TriageDechet/.vs/
TriageDechet/S3_travail2_TriageDechet/Debug/
OsTravail2/OsTravail2/Debug/
Interface BD - JAVA/.idea/gradle.xml
Interface BD - JAVA/.idea/uiDesigner.xml
Interface BD - JAVA/.idea/workspace.xml
